{% extends "blog/base.html" %}
{% block title %}Блог>{% endblock %}
{% load read_tags %}

{% block content %}

    {% include 'blog/includes/menu.html' %}

    <h2 class="">Страница поста</h2>

    User: {{ post.user }} <br>
    Title: {{ post.title }} <br>
    Text: {{ post.text }} <br>
    Create: {{ post.created }} <br>
    Upd: {{ post.updated }} <br>

    <a href="{% url 'update-post' post.pk %}" class="btn btn-success">
      Обновить</a>
    <a href="{% url 'remove-post' post.pk %}" class="btn btn-danger">
      Удалить</a><br>
    <br>

{% endblock %}